<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <p>
      <label for="cols">Grid size: {{ cols + "x" + cols }}</label>
      <input matInput type="number" name="cols" id="cols" placeholder="Size" [(ngModel)]="cols">
    </p>
    <p>
      <label for="difficulty">Goal: {{ difficulty | power }}</label>
      <input matInput type="number" name="difficulty" id="difficulty" placeholder="Difficulty" [(ngModel)]="difficulty">
    </p>
    <button mat-raised-button color="primary" (click)="startGame();">Start game</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list class="grid" [cols]="columns" gutterSize="4" [rowHeight]="((800 - 4 * columns) / columns)" *ngIf="tiles.length > 0; else noTiles">
      <mat-grid-tile *ngFor="let tile of tiles" colspan="1" rowspan="1" [style.background]="colors[tile]">
        <div class="text">{{ tile }}</div>
      </mat-grid-tile>
    </mat-grid-list>
    <ng-template #noTiles>
      <h1>Waiting to start game</h1>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
